@use "../variables/colors";

.cell {
  border: 1px solid rgb(147, 147, 147);
  width: 1.4vw;
  min-width: 15px;
  aspect-ratio: 1/1;

  &--alive {
    background-color: white;
  }

  &--dead {
    background-color: colors.$main-color-background;
  }
}
