@use "../variables/colors";

.game-control {
  display: flex;
  font-size: 1.5rem;
  justify-content: center;
  gap: 10px;
}
i {
  transform: translateY(-10%);
  padding: 0 0.5rem;
  color: colors.$main-color-background;
}
